body{
    font-family: 'Comfortaa', cursive;
    font-weight:bolder;
    background-color: #fff3e4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23bc7e13' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23845f0f' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ae7617' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%237e5b10' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23a16e19' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23795611' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2394661b' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23735212' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23875e1d' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%236e4e13' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%237a561e' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23684a13' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;}
.show{
}
.permanent{
    overflow: hidden;
    opacity: 1;
    padding: 50px;
    padding-left: 200px;
    margin: 30px;
    border-radius: 200px;
    color: rgb(117, 94, 87);
    font-size: 17px;
    height: 315px;
    transition: 0.6s ease all;
    line-height: 1.8;
    margin-bottom: 0%;
}
.permanent{
    background-color:#D5D6EA;
    box-shadow: 0px 10px 0px #a2a4c2, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.permanent:hover{
    background-color:#e4e4f0;
    box-shadow: 0px 10px 0px #c2c3d8, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    cursor: pointer;
    transition: 0.3s ease all;
}
.permanent:focus{
    border-radius: 200px;
    height: 900px;
    pointer-events: none;
    transition: 0.3s ease all;
}
.permanent:hover ~ .seemore{
    opacity: 0.7;
    transition: 0.3s ease all;
    animation: float 2s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(15px);
	}
	100% {
		transform: translatey(0px);
	}
}
.status{
    opacity: 0.9;
    box-shadow: inset 0 0 7px #c4c4c4;
    background-color: rgb(26, 207, 75);
    width: 30px;
    height: 30px;
    margin-right: 90px;
    margin-top: 10px;
    border-radius: 9000px;
    float: right;
}
.seemore{
    height: 60px;
    margin-left: 48.5%;
    margin-top: 1%;
    position: relative;
    opacity: 0;
    transition: 0.3s ease all;
    font-size: 40px;
    color: rgb(0, 0, 0);
}